@tailwind base;
@tailwind components;
@tailwind utilities;


.phone-bg {
    background-image: url(/assets/index/phone_bg.png);
    background-repeat: no-repeat;
    background-size: contain; /* Change from contain to cover */
     /* Ensures the image is centered */
}
